.form-group label {
  background: #F6F6F6;
}
.border-line{
  border: 0;
  border-top:1px solid #ddd;
}

.keyValueContent {
  background-color: #eee;
}


.keyValueContent label{
  background-color: #eee;
}

.noimg{
  background-color: #ededed;
  border: 2px solid #dedede;
  border-radius: 5px;
  margin-left: 20px;
  width: 50px;
  min-height: 50px;
}