.ui-dialog {
  z-index: 10000 !important;
  width: 50% !important;
  height: 60% !important;
  left: 25% !important;
  top: 10% !important;
  .ui-dialog-content {
    height: 100%;
  }
  .ui-dialog-titlebar {
    text-align: center;
  }
}

.p-datatable {
  --font-size: 0.8rem;
  .p-datatable-thead {
    > tr > th {
      background-color: #434343;
      color: #fff;
      word-wrap: break-word;
      word-break: initial;
      padding: 0.3rem 0.5rem;
    }
  }
  .p-datatable-tbody > tr > td {
    padding: 0.3rem 0.5rem;
  }
  .p-datatable-tfoot > tr > td {
    padding: 0.3rem 0.5rem;
  }
  .p-button.p-button-icon-only {
    --font-size: 0.8rem;
    height: 2rem;
    width: 2rem;
    padding: 0;
  }
  .p-button {
    &.p-button-text.p-button-plain,
    &.p-button-icon-only {
      // color: #848484;
      &:enabled {
        &:hover {
          color: var(--tpi-primary);
        }
        &:active {
          color: var(--tpi-primary);
          background: #fcf0d3;
        }
      }
    }
  }
}
.p-dropdown {
  --dropdown-root-text: #333333;
  --dropdown-root-bg: #ffffff;
  --dropdown-root-border: 1px solid #ced4da;
  --dropdown-root-border-focus: 1px solid #ffac00;
  --dropdown-root-box-shadow: 0 0 0 0.2rem #ffac0061;
  --dropdown-item-text: #333333;
  --dropdown-item-text-hover: #333333;
  --dropdown-item-text-highlight: white;
  --dropdown-item-bg: transparent;
  --dropdown-item-bg-hover: #eaeaea;
  --dropdown-item-bg-highlight: var(--tpi-primary);
  --dropdown-trigger-icon:#848484;

  background: var(--dropdown-root-bg);
  border: var(--dropdown-root-border);
  .p-dropdown-label {
    color: var(--dropdown-root-text);
  }
  .p-dropdown-trigger{
    color:var(--dropdown-trigger-icon);
  }
  &:not(.p-disabled) {
    &:hover {
      border: var(--dropdown-root-border);
    }
    &.p-focus {
      border: var(--dropdown-root-border-focus);
      box-shadow: var(--dropdown-root-box-shadow);
    }
  }
}
.p-dropdown-panel {
  .p-dropdown-items {
    .p-dropdown-item {
      background: var(--dropdown-item-bg);
      color: var(--dropdown-item-text);
      &:not(.p-highlight):not(.p-disabled):hover{
        background: var(--dropdown-item-bg-hover);
        color: var(--dropdown-item-text-hover);
      }
      &.p-highlight {
        background: var(--dropdown-item-bg-highlight);
        color: var(--dropdown-item-text-highlight);
      }
    }
  }
}

.p-dropdown-clear-icon,
.p-input-icon-right > i {
  transform: translateY(25%);
}

/* 客製API列表查詢畫面下，JWT設定(req/resp)dropdown Style */
.jwt-req-dropdown .p-dropdown {
  --dropdown-root-text: #ffac00;
  --dropdown-root-bg: #fff0d1;
  --dropdown-root-border: 1px solid #ffac00;
  // --dropdown-root-border-focus: 1px solid #ffac00;
  // --dropdown-root-box-shadow: 0 0 0 0.2rem #ffac0061;
  // --dropdown-item-text: #333333;
  // --dropdown-item-text-hover: #333333;
  // --dropdown-item-text-highlight: white;
  // --dropdown-item-bg: transparent;
  --dropdown-item-bg-hover: #fef0d1;
  --dropdown-item-bg-highlight: #ffb000;
  --dropdown-trigger-icon: #ffac00;
}
.jwt-resp-dropdown .p-dropdown {
  --dropdown-root-text: #6096e7;
  --dropdown-root-bg: #d4e0f3;
  --dropdown-root-border: 1px solid #6096e7;
  --dropdown-root-border-focus: 1px solid #6096e7;
  --dropdown-root-box-shadow: 0 0 0 0.2rem #6096e761;
  // --dropdown-item-text: #333333;
  // --dropdown-item-text-hover: #333333;
  // --dropdown-item-text-highlight: white;
  // --dropdown-item-bg: transparent;
  --dropdown-item-bg-hover: #d4e0f3;
  --dropdown-item-bg-highlight: #6096e7;
  --dropdown-trigger-icon: #6096e7;
}

.p-selectbutton {
  .p-button {
    border-radius: 15px;
    min-width: 66px;
    font-weight: 600;
    color: #c4c4c4;
    background: #ffffff;
    border: 1px solid #c4c4c4;
    padding: 0.3rem 0.8rem;
    &:not(.p-disabled):not(.p-highlight) {
      &:hover {
        background: #fcf0d3;
        color: var(--tpi-primary);
      }
    }
    &.p-highlight {
      color: var(--tpi-primary);
      background: #fcf0d3;
      border: 1px solid var(--tpi-primary);
      &:hover {
        background: var(--tpi-primary);
        border-color: var(--tpi-primary);
      }
      &:not(:last-child) {
        border-right: 1px solid var(--tpi-primary);
      }
    }
  }
  .p-button.p-highlight + .p-button {
    border-left: 0 none;
  }
}

.p-chips {
  .p-chips-multiple-container {
    border-color: #ced4da;
    &:not(.p-disabled) {
      &:hover {
        border-color: #ced4da;
      }
      &.p-focus {
        border-color: #ffac00;
        box-shadow: 0 0 0 0.2rem #ffac0061;
      }
    }
    .p-chips-input-token input {
      font-size: 0.8rem;
    }
  }
}
.p-menu .p-menuitem-link {
  &:not(.p-disabled):hover {
    background: #fcf0d3;
    .p-menuitem-icon,
    .p-menuitem-text {
      color: var(--tpi-primary);
    }
  }
}
.p-listbox {
  border: 1px solid #ced4da;
  .p-listbox-filter-container {
    .p-inputtext {
      border-color: #ced4da;
      &:not(.p-disabled) {
        &:hover {
          border-color: #ced4da;
        }
        &.p-focus {
          border-color: #ffac00;
          box-shadow: 0 0 0 0.2rem #ffac0061;
        }
      }
    }
  }
  .p-listbox-list {
    .p-listbox-item {
      &:focus {
        box-shadow: 0 0 0 0.2rem #ffac0061;
      }
      &.p-highlight {
        background: var(--tpi-primary);
      }
      span {
        font-size: 0.8rem;
      }
    }
  }
  .p-listbox-empty-message {
    font-size: 0.8rem;
  }
}
.view-mode-menu.p-menu {
  width: 9rem;
  --bg: transparent;

  .p-menuitem {
    .p-menuitem-link {
      &::before {
        content: "";
        border-bottom: 2px solid var(--bg);
        border-left: 2px solid var(--bg);
        display: block;
        width: 12px;
        height: 7px;
        transform: rotate(-45deg) translateX(3px);
        margin-right: 9px;
      }

      &:hover {
        --bg: var(--tpi-primary);
      }
    }
    &.active {
      .p-menuitem-link {
        &::before {
          --bg: var(--tpi-primary);
        }
      }
    }
  }
}
