<app-container [title]="currentTitle" [isDefault]="pageNum==1" (headerReturn)="headerReturn()">
  <div [hidden]="pageNum != 1">
    <div class="form-group row">
      <div class="col-12">
        <button type="button" class="btn tpi-btn tpi-second float-end"
          (click)="changePage('create');">{{'button.create'|translate}}</button>
      </div>
    </div>
    <p-table [columns]="cols" [value]="tableData" selectionMode="single" styleClass="p-datatable-striped"
      [style]="{'word-break':'break-word'}" responsiveLayout="scroll">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" scope="col" [ngStyle]="{width:col.field=='id'?'175px':'auto'}">
            {{col.header}}
          </th>
          <th style="width:110px;" scope="col">{{'action'|translate}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" [style.width]="col.width"
            [ngClass]="{'text-end': col.field == 'aiApiKeysCount'}">
            <span *ngIf="col.field != 'aiProviderEnable'">
              {{rowData[col.field]}}
            </span>
            <div class="text-center" *ngIf="col.field == 'aiProviderEnable'">
              <img [alt]="rowData.aiProviderEnable" style="width: 20px; height: 20px"
                [src]="rowData.aiProviderEnable ==='Y' ? 'assets/images/icon_green.png': 'assets/images/icon_red.png'" />
            </div>
          </td>
          <td style="text-align:center;width: 50px">
            <button pButton pRipple type="button" icon="fa fa-edit"
              class="p-button-rounded p-button-text p-button-plain" (click)="changePage('update', rowData)"
              [pTooltip]="'button.update' | translate" tooltipPosition="top"></button>

            <button pButton pRipple type="button" icon="fa fa-trash-alt"
              class="p-button-rounded p-button-text p-button-plain" (click)="changePage('delete', rowData)"
              [pTooltip]="'button.delete' | translate" tooltipPosition="top"></button>
          </td>

        </tr>
      </ng-template>
      <ng-template pTemplate="footer" let-columns>
        <tr *ngIf="tableData.length>0">
          <td [attr.colspan]="columns.length+1" style="color: #b7b7b7;">
            <span style="vertical-align: middle;">{{'row_count' | translate}}: {{tableData.length}}</span>
            <!-- <button  type="button" class="btn tpi-header-return" (click)="getMoreData()">{{ 'button.more'| translate}}
                <i class="fas fa-angle-double-right" style="margin-left: 5px;"></i>
              </button> -->
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length+1">
            {{'no_rec' | translate}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <!-- 建立 / 更新 / 詳細資料 -->
  <div [hidden]="pageNum != 2">
    <form [formGroup]="formE">
      <div class="form-group row">
        <div class="col-4">
          <label for="aiProviderName" class="control-label required">{{'ai.provider'|translate}}</label>
          <input type="text" class="form-control" id="aiProviderName" formControlName="aiProviderName">
          <!-- <div *ngIf="aiProviderName.invalid && (aiProviderName.dirty || aiProviderName.touched)"
            class="text-danger">
            <small class="form-text">{{aiProviderName?.errors.required|translate}}</small>
          </div> -->
        </div>
        <div class="col-4">
          <label for="aiProviderAlias" class="control-label required">{{'ai.provider_alias'|translate}}</label>
          <input type="text" class="form-control" id="aiProviderAlias" formControlName="aiProviderAlias">
          <div *ngIf="aiProviderAlias.invalid && (aiProviderAlias.dirty || aiProviderAlias.touched)"
            class="text-danger">
            <small class="form-text">{{aiProviderAlias?.errors.required|translate}}</small>
          </div>
        </div>

        <div class="col-4">
          <label class="control-label required">{{'status'|translate}}</label>
          <div class="p-form-check-line form-group">
            <ng-container>
              <div class="p-form-check">
                <p-radioButton formControlName="aiProviderEnabled" value="Y" inputId="enableY"></p-radioButton>
                <label for="enableY" class="ms-2 mb-0">{{'button.enable'|translate}}</label>
              </div>
              <div class="p-form-check">
                <p-radioButton formControlName="aiProviderEnabled" value="N" inputId="enableN"></p-radioButton>
                <label for="enableN" class="ms-2 mb-0">{{'button.disable'|translate}}</label>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-8">
          <label for="aiModel" class="control-label required">{{'ai.llm_name'|translate}}</label>
          <input type="text" class="form-control" id="aiModel" formControlName="aiModel">
          <div *ngIf="aiModel.invalid && (aiModel.dirty || aiModel.touched)" class="text-danger">
            <small class="form-text">{{aiModel?.errors.required | translate}}</small>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-8">
          <label for="generateAPI" class="control-label required">Generate API</label>
          <input type="text" class="form-control" id="generateAPI" formControlName="generateAPI">
          <div *ngIf="generateAPI.invalid && (generateAPI.dirty || generateAPI.touched)" class="text-danger">
            <small class="form-text">{{generateAPI?.errors.required | translate}}</small>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-8">
          <label for="countTokenAPI" class="control-label">Count Token API</label>
          <input type="text" class="form-control" id="countTokenAPI" formControlName="countTokenAPI">
          <div *ngIf="countTokenAPI.invalid && (countTokenAPI.dirty || countTokenAPI.touched)" class="text-danger">
            <small class="form-text">{{countTokenAPI?.errors.required | translate}}</small>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-12 col-lg-12">
          <button type="button" class="btn tpi-btn float-start me-3" [hidden]="currentAction=='detail'"
            [ngClass]="[btnName == ('button.create'|translate) ? 'tpi-second': 'tpi-primary']"
            [disabled]="formE.invalid" (click)="procData();">{{btnName}}</button>

          <button type="button" class="btn tpi-btn tpi-primary float-start"
            (click)="changePage('query');">{{'button.return_to_list'|translate}}</button>
        </div>
      </div>
    </form>
  </div>
</app-container>
<p-toast [style]="{ marginTop: '60px' }" position="top-left"></p-toast>
<p-confirmDialog #cd [style]="{width: '400px'}" icon="pi pi-exclamation-triangle" styleClass="cHeader cContent cIcon">
  <ng-template pTemplate="footer">
    <div class="row" style="justify-content: center;">
      <button type="button" pButton icon="pi pi-check"
        [ngStyle]="{backgroundColor:'var(--red-300)','border-color':'var(--red-300)'}"
        label="{{'button.confirm' | translate}}" (click)="cd.accept()"></button>
      <button type="button" pButton icon="pi pi-times" class="p-button-secondary"
        label="{{'button.cancel' | translate}}" (click)="cd.reject()"></button>
    </div>
  </ng-template>
</p-confirmDialog>
